

#header {

width: 1000px;
height: 70px;
margin: 10px 0px 0px 150px;
position: center;
background-color: #ffffff;

}

#horizontalnav {

width: 1000px;
height: 30px;
margin: 20px 0px 0px 150px;
position: relative;
background-color: #ffffff;
border-bottom: 1px solid #9DA68E;

}

.navlinks {

position: absolute; top: 4px; left: 300px;

}

.navlinks ul {
margin: auto;

}

.navlinks li {

margin: 0px 18px 0px 0px;
list-style-type: none;
display: inline;

}

.navlinks li a {

color: #000000;
padding: 5px 12px 7px;
text-decoration: none;
font-size: 18px;
font-family: Verdana;

}

.navlinks li a:hover {

color: #ffffff;
background-color: #0070C0;
text-decoration: underline;

}


img
{
 border-color: white;
}

#header p {

color: #0070C0;
opacity: .75;
font-weight: none;
font-family: Verdana;
font-size: 18px;

}

#body {
width: 1000px;
margin: 0px 18px 20px 150px;

}

#body p {

color: #000000;
font-weight: none;
font-family: Verdana;
font-size: 15px;

}

#body h1 {

color: #0070C0;
opacity: .75;
font-weight: bold;
font-family: Verdana;
font-size: 24px;

}

#body h2 {

color: #0070C0;
opacity: .75;
font-weight: none;
font-family: Verdana;
font-size: 20px;

}

#body h3 {

color: #0070C0;
opacity: .75;
font-weight: none;
font-family: Verdana;
font-size: 16px;

}

#body li {

margin: 0px 18px 0px 0px;
list-style-type: none;
display: inline;
color: #000000;
font-weight: none;
font-family: Verdana;
font-size: 15px;

}

