{% seo %}
#wrap {
	width: 960px;
	margin: 0 auto;
}
#header {
height: 85px;
position: auto;
background-color: #ffffff;
}
#horizontalnav {
height: 40px;
position: relative;
background-color: #ffffff;
border-bottom: 2px #ddd solid;
}
.navlinks {
position: absolute; top: 4px; left: 240px;
}
.navlinks ul {
margin: auto;
}
.navlinks li {
list-style-type: none;
display: inline;
}
.navlinks li a {
color: #000000;
padding: 10px 30px 10px;
text-decoration: none;
font-size: 18px;
font-family: Verdana;
}
.navlinks li a:hover {
color: #ffffff;
background-color: #0070C0;
text-decoration: underline;
}
#leftnav {
float: left;
margin: 10px 0px 0px 0px;
width: 100px;
background-color: #ffffff;
}
#header p {
color: #0070C0;
opacity: .75;
font-weight: none;
font-family: Verdana;
font-size: 18px;
}
#body {
background-color: #ffffff;
}
#body p {
color: #000000;
margin: 10px 20px 0px 150px;
font-weight: none;
font-family: Verdana;
font-size: 14px;
}
#body h1 {
color: #0070C0;
opacity: .75;
margin: 10px 20px 0px 150px;
font-weight: bold;
font-family: Verdana;
font-size: 26px;
}
#body h2 {
color: #0070C0;
opacity: .75;
margin: 10px 20px 0px 150px;
font-weight: none;
font-family: Verdana;
font-size: 18px;
}
#footer {
	clear: both;
	margin: 40px 0 35px 0;
	border-top: 2px #ddd solid;
}
#footer p {
	color: #aaa;
	margin-top: 10px;
	font-family: Verdana;
	font-size: 12px;
}
